<html style="background-image: url('../../assets/images/fondo.jpg');">
<br>
<br>
<div class="centrarMas">
    <form>
        <div>
            <h1>Nombre de usuario:</h1>
            <input class="centrar" id="username" [(ngModel)]="username" type="text" class="form-control operator1" name="operator1">
        </div>
        <br>
        <div>
            <h1>Contraseña:</h1>
            <input class ="centrar" id="password" [(ngModel)]="password" type="password" class="form-control operator2" name="operator2">
        </div>
    </form>
    <br>

    <i class="bn"
        (click)="addition()">Iniciar sesion</i>
</div>
</html>