<html style="background-image: url('../../assets/images/fondo.jpg');">
<br>
<div class="centrarMas">
    <form>
        <div>
            <h1>Nombre:</h1>
            <input class="centrar" id="name" [(ngModel)]="name" type="text" class="form-control operator1" name="operator1">
        </div>

        <div>
            <h1>Nombre de usuario: </h1>
            <input id="username" [(ngModel)]="username" type="username" class="form-control operator2" name="operator2">
        </div>

        <div>
            <h1>Correo electronico: </h1>
            <input id="correo" [(ngModel)]="correo" type="correo" class="form-control operator1" name="operator3">
        </div>

        <div>
            <h1>Contraseña: </h1>
            <input id="password" [(ngModel)]="password" type="password" class="form-control operator1" name="operator4">
        </div>

        
    </form>
    <br>

    <i class="bn"
        (click)="onSignUp()">Registrarse</i>
</div>
</html>